<div class="lab-people-gallery{% if include.compact %} compact{% endif %}">
  {% for person in include.people %}
    <article class="lab-people-gallery-card">
      {% if person.link %}
        <a class="lab-people-gallery-link" href="{{ person.link }}">
      {% endif %}
      {% if person.photo contains 'http' %}
        <img class="lab-people-gallery-photo" src="{{ person.photo }}" alt="{{ person.name }}">
      {% else %}
        <img class="lab-people-gallery-photo" src="{{ person.photo | relative_url }}" alt="{{ person.name }}">
      {% endif %}
      {% if person.link %}
        </a>
      {% endif %}
      <h3>
        {% if person.link %}
          <a href="{{ person.link }}">{{ person.display_name | default: person.name }}</a>
        {% else %}
          {{ person.display_name | default: person.name }}
        {% endif %}
      </h3>
      {% assign phd_placeholder = '__PHD__' %}
      {% assign role_markup = person.role
        | replace: 'PHD', phd_placeholder
        | replace: 'PhD', phd_placeholder
        | replace: 'phd', phd_placeholder %}
      {% assign role_markup = role_markup
        | replace: phd_placeholder, '<span class="phd-word"><span class="phd-cap">P</span><span class="phd-small">h</span><span class="phd-cap">D</span></span>' %}
      <p>{{ role_markup }}</p>
    </article>
  {% endfor %}
</div>
